@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 21 94% 20%;

    --card: 0 0% 100%;
    --card-foreground: 21 94% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 21 94% 20%;

    --primary: 21 94% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 55 97% 88%;
    --secondary-foreground: 21 94% 20%;

    --muted: 55 50% 95%;
    --muted-foreground: 21 30% 45%;

    --accent: 55 97% 88%;
    --accent-foreground: 21 94% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 55 50% 85%;
    --input: 55 50% 85%;
    --ring: 21 94% 51%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 10% 8%;
    --foreground: 0 0% 98%;

    --card: 30 10% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 30 10% 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 21 94% 60%;
    --primary-foreground: 30 10% 8%;

    --secondary: 55 40% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 55 20% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 55 60% 35%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 55 20% 20%;
    --input: 55 20% 20%;
    --ring: 21 94% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}

h3 code {
  @apply !text-lg md:!text-xl;
}

pre {
  @apply !px-0 rounded-lg overflow-x-auto py-4
}

pre [data-line] {
  @apply px-4
}

code {
  @apply text-sm md:text-base !leading-loose;
}

pre>code {
  counter-reset: line;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

code {
  counter-reset: line;
}

code>[data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"]>[data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"]>[data-line]::before {
  width: 3rem;
}